/* Light Mode */

:root {
  --primary-color: #6D28D9; /* Purple */
  --secondary-color: #34D399; /* Green */
  --accent-color: #D6BCFA; /* Light Purple */
  --text-color: #1F2937; /* Dark Gray */
  --background-color: #F3F4F6; /* Light Gray for overall background */
  --card-background-color: #FFFFFF; /* White background for cards */
  --highlight-background-color: #F9FAFB; /* Very Light Gray for search boxes */
}

/* Dark Mode */

[data-theme='dark'] {
  --primary-color: #9B86FC; /* Purple */
  --secondary-color: #00A859; /* Green */
  --accent-color: #B6A2E3; /* Light Purple */
  --text-color: #E5E7EB; /* Light Gray */
  --background-color: #1F1B24; /* Very Dark Gray */
  --card-background-color: #2D2D2D; /* Dark Gray for cards */
  --highlight-background-color: #3B3B3B; /* Slightly lighter dark gray for search boxes */
}

body{
  background-color: var(--background-color);
  color: var(--text-color);
}

.hidden{
  visibility: none;
}

/* General Container */
.container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
}

.header div {
  text-align: right;
}

.header p {
  margin: 2px 0;
}

/* Section Titles */
section h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

/* Summary Section */
.summary p {
  font-size: 1rem;
}

/* Experience Section */
.experience .job {
  margin-bottom: 25px;
}

.experience .job h3 {
  font-size: 1.3rem;
  margin: 0;
}

.experience .job p {
  margin: 5px 0;
  font-size: 0.95rem;
}

.experience ul {
  margin: 10px 0 10px 20px;
  padding-left: 0;
  list-style-type: disc;
}

.experience li {
  margin-bottom: 8px;
}

.experience strong {
  font-weight: bold;
}

/* Education Section */
.education .degree {
  margin-bottom: 15px;
}

.education h3 {
  font-size: 1.2rem;
  margin: 0;
}

.education p {
  margin: 5px 0;
  font-size: 0.95rem;
  color: var(--primary-color);
}

/* Programming Skills Section */
.skills ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.skills li {
  margin-bottom: 15px;
}

.skills strong {
  font-weight: bold;
}

/* Hobbies Section */
.hobbies ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

.hobbies li {
  margin-bottom: 10px;
}

.hobbies strong {
  font-weight: bold;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 2px solid var(--primary-color);
  height: 50px;
  font-size: 15px;
  line-height: 1.25rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color)
}

.logo-text {
  margin-left: 8px;
  font-weight: bold;
  line-height: 1;
}

.navbar-links {
  display: flex;
  gap: 16px;
}
.icon {
  margin-right: 5px;
}

.navbar-item {
  display: flex;
  align-items: center;
  margin-left: 40px;
  text-decoration: none;
  padding-top: 2px;
}

.navbar-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

#mobile-menu-icon {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* Media queries for mobile responsiveness */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 50px;
    left: 0;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    gap: 10px;
    padding: 20px 0;
    display: none;
    z-index: 999;
  }

  .navbar-links.open {
    display: flex;
    background-color: var(--highlight-background-color);
  }

  .mobile-menu-icon {
    display: block;
  }

  .navbar-item {
    margin-left: 0;
    padding: 10px;
    border-bottom: 1px solid var(--accent-color);
  }

  .navbar-actions {
    gap: 0;
  }

  .navbar-actions.open {
    display: flex;
    background-color: var(--highlight-background-color);
  }
}

/* Highlight Text Adjustments */
div.highlightTextIn a {
  color: var(--text-color); /* Adapt to the current theme's text color */
}

